.cross_rectangle1 {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 200px;
    background: repeating-linear-gradient(135deg, #ffffff, #ffffff 12px, #000000 12px, #000000 70px);
}

.cross_rectangle2 {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 200px;
    background: repeating-linear-gradient(45deg, #ffffff, #ffffff 12px, #00000000 12px, #00000000 70px);
}
