.cross_rectangle1 {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    background: repeating-linear-gradient(135deg, #000000, #000000 5px, #ffffff00 5px, #ffffff00 20px);
}
.cross_rectangle2 {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    background: repeating-linear-gradient(45deg, #000000, #000000 5px, #ffffff00 5px, #ffffff00 20px);
}

@media (max-aspect-ratio: 1/1) {
    .cross_rectangle1 {
        height: 10vh;
    }
    .cross_rectangle2 {
        height: 10vh;
    }
  }